<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <title>
      Home
    </title>
    <link rel="stylesheet" href="../website/css/12.css">
    <script src="https://kit.fontawesome.com/8e2a0400de.js" crossorigin="anonymous"></script>

    <body>
       
          <div class="bar">
            <a  href="intro.html"><i class="fas fa-book"></i>  EduDB</a>
            <a  href="home.html"><i class="fas fa-home"></i>Home </a>
            <a class="active" href="12.html"><i class="fas fa-school"></i> 11th & 12th</a>
            <a href="college.html"><i class="fas fa-graduation-cap"></i> Colleges</a>
            <a id="login" href="login.html"><i class="far fa-user"></i> Login</a>
            <br>
    </div>
    <div class="side" >
        <a href="#">PCMB</a>
        <a href="#">PCMC</a>
        <a href="#">MPC</a>
        <a href="#">BiPC</a>
        <a href="#">Commerce</a>
      </div>
      <br>
      <br>
      
      <div class="content">
          <h1>PCMB</h1>
            <p><%= details.clgname%></p>
      </table>




      </div>
    </body>
  </head>
</html>